/* 전문가 부분 */
.expert-wrapper {
  width: 100%;
  padding: 0 4.27%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.expert-title {
  color: #6f5442;
  font-size: 26px;
  font-weight: 600;
  line-height: 120%; /* 31.2px */
  margin-bottom: 20px;
}

.expert-subtitle {
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 7px;
}

.expert-caption {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.expert-nav-wrapper {
  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 375px;
  height: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.expert-nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.expert-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 46%;
  height: 200px;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  box-sizing: border-box;
}

.expert-list > .expert-ico {
  width: 100px;
  height: 100px;
}

.expert-list > .expert-list-title {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 7px;
}

.contact-btn {
  background-color: #0a94d1;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.5px;
  margin-bottom: 7px;
  box-sizing: border-box;
}

.expert-list-check {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #0694d1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}

/* 토스트팝업 설정 */
.toast {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24.5px;
  text-align: center;
  color: #ffffff;
}

.Toastify__toast-container {
  padding: 30px 20px !important;
  width: 100% !important;
  max-width: 486px;
}

.Toastify__toast-container--bottom-center {
  bottom: 114px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Toastify__toast-theme--light {
  background: #555 !important;
  border-radius: 8px !important;
  font-family: "Pretendard" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.5px;
  text-align: center;
  color: #ffffff !important;
}

.Toastify__toast-body {
  justify-content: center;
  gap: 9px;
  padding: 8px 30px !important;
}

.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: none !important;
}

.Toastify__toast {
  /* min-width: 335px; */
  width: 100%;
  max-width: 446px;
  padding: 0 !important;
  min-height: 40px !important;
  height: auto;
  /* margin-bottom: 0px !important; */
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast-icon {
  margin-inline-end: 0 !important;
  width: 24px !important;
  height: 24px;
}
